<section fxLayout="row wrap" fxLayoutAlign="space-between" class="section-content">
    <app-mat-card-title fxFlex="100%" fxFlex.xs="100%" [title]="title"></app-mat-card-title>
</section>

<section fxLayout="row wrap" fxLayoutAlign="space-between" class="section-content">
    <mat-card fxFlex="100" fxFlex.xs="100">
        <form [formGroup]="formu">
            <mat-card-content class="mat-content-iz" fxFlex="80" fxFlex.xs="100" fxLayout="row wrap">
                <app-mat-select-form fxFlex="40" fxFlex.xs="100" (changeSelect)="changeCompania($event)" [formulario]='formu' name='compania' label="Compañia" [data]="companiasArr">
                </app-mat-select-form>

                <div fxFlex="10" fxFlex.xs="100"></div>
                <app-mat-select-form fxFlex="40" fxFlex.xs="100" [formulario]='formu' name='periodo' label="Periodo" [data]="periodosArr">
                </app-mat-select-form>
                
                <app-mat-datepicker-form fxFlex="40" fxFlex.xs="100" [formulario]='formu' name='fechaInicial' label="Fecha Inicial"></app-mat-datepicker-form>
                <div fxFlex="10" fxFlex.xs="100"></div>
                <app-mat-datepicker-form fxFlex="40" fxFlex.xs="100" [formulario]='formu' name='fechaCierre' label="Fecha Cierre"></app-mat-datepicker-form>
                
                <app-mat-select-form  fxFlex="40" fxFlex.xs="100" [formulario]='formu' name='situacion' label="Situación" [data]="situacion"></app-mat-select-form>
            
            </mat-card-content>
            <mat-card-actions fxFlex="20" fxFlex.xs="100" fxLayout="column" fxLayoutAlign="space-around flex-end" style="margin-right: 5px">
                <app-mat-button titlebutton="Refrescar" icon="autorenew"></app-mat-button>
                <app-mat-button titlebutton="Nuevo" icon="add"></app-mat-button>
                <app-mat-button titlebutton="Grabar" icon="save" [submit]="submit" (saveClick)="saveButon($event)"></app-mat-button>
                <app-mat-button titlebutton="Eliminar" icon="delete"></app-mat-button>
                <app-mat-button titlebutton="Salir" icon="close"></app-mat-button>
            </mat-card-actions>
        </form>
    </mat-card>
</section>

<section fxLayout="row wrap" fxLayoutAlign="space-between" class="section-content">
    <mat-card fxFlex="100" fxFlex.xs="100">
        <!-- <mat-card-title>tabla</mat-card-title> -->
        <mat-card-content fxFlex="100" fxFlex.xs="100" fxLayout="row wrap" class="mat-elevation-z8 tabla-content">
            <table mat-table [dataSource]="dataSource" class="table-data">
                <ng-container matColumnDef="eliminar">
                    <th mat-header-cell *matHeaderCellDef> Eliminar </th>
                    <td mat-cell *matCellDef="let element"> {{element.eliminar}} </td>
                </ng-container>
                <ng-container matColumnDef="compania">
                    <th mat-header-cell *matHeaderCellDef> Compañia </th>
                    <td mat-cell *matCellDef="let element"> {{element.compania}} </td>
                </ng-container>
                <ng-container matColumnDef="periodo">
                    <th mat-header-cell *matHeaderCellDef> Periodo </th>
                    <td mat-cell *matCellDef="let element"> {{element.periodo}} </td>
                </ng-container>
                <ng-container matColumnDef="fechai">
                    <th mat-header-cell *matHeaderCellDef> Fecha Inicial </th>
                    <td mat-cell *matCellDef="let element"> {{element.fechai}} </td>
                </ng-container>
                <ng-container matColumnDef="fechac">
                    <th mat-header-cell *matHeaderCellDef> Fecha Cierre </th>
                    <td mat-cell *matCellDef="let element"> {{element.fechac}} </td>
                </ng-container>
                <ng-container matColumnDef="situacion">
                    <th mat-header-cell *matHeaderCellDef> Situación </th>
                    <td mat-cell *matCellDef="let element"> {{element.situacion}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator class="paginador" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
        </mat-card-content>
    </mat-card>
</section>